<%- include("./partials/header") %>
<h1>Welcome to Post</h1>
<img class="chicken" alt="chicken"
  src="https://images.unsplash.com/photo-1545531665-cf5f66c3d667?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" />
<%- include("./partials/footer") %>