<%- include("./partials/header") %>
<form class="mt-4" action="/clucks" method="POST">
  <div class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control new-post-field" name="content" id="content" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="image_url">Image Url</label>
    <input type="text" class="form-control" name="image_url" id="image_url"
      placeholder="e.g. https://www.example.com/some.png">
  </div>
  <button type="submit" class="btn btn-outline-primary mt-4 new-cluck-button">Cluck!</button>
  </div>
</form>
<%- include("./partials/footer") %>